<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
          <div class="layui-input-inline">
            <select id="product_cate" name="product_cate">
              <option value="">产品类别</option>
            </select>
          </div>
          <div class="layui-input-inline">
            <select id="isshow" name="isshow">
              <option value="">产品状态</option>
              <option value="1">上架</option>
              <option value="0">下架</option>
            </select>
          </div>
          <input type="text" id="product_no" name="product_no"  placeholder="产品编号" autocomplete="off" class="layui-input">
          <input type="text" id="product_name" name="product_name"  placeholder="产品名称" autocomplete="off" class="layui-input">
          <button id="sreach" class="layui-btn" ><i class="layui-icon">&#xe615;</i></button>
        </div>
      </div>
      <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn" id="addproduct"><i class="layui-icon"></i>添加</button>
      </xblock>
      <table id="user_list" class="layui-table" lay-data="{ url:'/admin/product/productlist', page:true, id:'product_list'}" lay-filter="getProductList">
        <thead>
        <tr>
          <th lay-data="{type:'checkbox'}"></th>
          <th lay-data="{field:'productNo', align:'center',width:140,unresize: true}">产品编号</th>
          <th lay-data="{field:'productName' ,minWidth:250}">产品名称</th>
          <th lay-data="{field:'productCateName', width:110,align:'center'}">产品类别</th>
          <th lay-data="{field:'principal',width:120,align:'center'}">产品负责人</th>
          <th lay-data="{field:'addtime',width:180,align:'center'}">更新时间</th>
          <th lay-data="{field:'isshow',width:100,templet:'#tpisshow',align:'center'}">产品状态</th>
          <th lay-data="{field:'views',width:80,align:'center'}">浏览量</th>
          <th lay-data="{field:'buyfew',width:80,align:'center'}">购买数</th>
          <th lay-data="{width:180, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
      </table>
      <script type="text/html" id="tpisshow">
        <input data-productid="{{d.productId}}" type="checkbox" name="isshow" value="1" lay-skin="switch" lay-text="上|下" lay-filter="isShow" {{ d.isshow == 1 ? 'checked' : '' }}>
      </script>

      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    </div>
    <script>
      layui.use(['table','laytpl'], function(){
        var table = layui.table,laytpl = layui.laytpl
                ,form = layui.form;
        var productCateList;
        //获取产品分类
        reqGet("admin/product/getProductCateList", {
          page: 1,
          limit: 100
        }, function (res) {
          console.log(res)
          productCateList = res.data;
          for (i = 0; i < res.data.length; i++) {
            $("#product_cate").append('<option value="' + res.data[i].cateId + '">' + res.data[i].cateName + '</option>');
          }
          form.render();
        })
        $("#addproduct").on("click",function () {
          x_admin_show('添加产品','./product-add.html',null,null,function() {
            reloadTb();
          })
        })
        $('#sreach').on('click', function(){
            reloadTb();
        });

        var reloadTb=function () {
          var productCate = $('#product_cate');
          var isShow = $('#isshow');
          var productNo = $('#product_no');
          var productName = $('#product_name');
          //执行重载
          table.reload('product_list', {
            page: {
              curr: 1 //重新从第 1 页开始
            }
            ,where: {
              product_cate: productCate.val(),
              isshow: isShow.val(),
              product_no: productNo.val(),
              product_name: productName.val(),
            }
          });
        }

        //监听上下架操作
        form.on('switch(isShow)', function(obj){
          var is = 0;
          if (obj.elem.checked){
            is= 1
          }
          reqPost("admin/product/updateStatus",{product_id:obj.elem.dataset.productid,isshow:is},function (res) {
            if (res.code==0){
              console.log(res.msg)
            }else {
              console.log(res.msg)
            }
          })
        });
        //监听工具条
        table.on('tool(getProductList)', function(obj){
          var data = obj.data;
          if(obj.event === 'detail'){
            layer.msg('ID：'+ data.productId + ' 的查看操作');
          } else if(obj.event === 'del'){
            layer.confirm('真的删除【'+data.productName+'】么', function(index){
              reqPost("admin/product/delProduct",{product_id:data.productId},function (res) {
                if (res.code===0){
                  layer.close(index);
                  layer.msg("删除成功");
                  obj.del();
                }else{
                  layer.close(index);
                  layer.msg("删除失败");
                }
              });

            });
          } else if(obj.event === 'edit'){
            x_admin_show('编辑用户','./product-edit.html?product_id='+data.productId,null,null,function () {
//              reqGet("admin/user/getUser",{userId:data.userId},function (res) {
//                //同步更新缓存对应的值
//                obj.update(res.data);
//              })
            })
          }
        });


      });
    </script>
  </body>

</html>