<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdeado.tourism.dao.base.ProductPackageBaseMapper">


    <insert id="insertProductPackage" >
        INSERT INTO `tb_product_package`
        (
        <trim suffixOverrides=",">
                    <if test="packageName!=null">
                        `package_name`,
                    </if>
                    <if test="packagePrice!=null">
                        `package_price`,
                    </if>
                    <if test="notchildren!=null">
                        `notchildren`,
                    </if>
                    <if test="isshow!=null">
                        `isshow`,
                    </if>
                    <if test="content!=null">
                        `content`,
                    </if>
                    <if test="productId!=null">
                        `product_id`,
                    </if>
                    <if test="packageNo!=null">
                        `package_no`,
                    </if>
                    <if test="rallyingPoint!=null">
                        `rallying_point`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="packageName!=null">
                    #{packageName},
                </if>
                <if test="packagePrice!=null">
                    #{packagePrice},
                </if>
                <if test="notchildren!=null">
                    #{notchildren},
                </if>
                <if test="isshow!=null">
                    #{isshow},
                </if>
                <if test="content!=null">
                    #{content},
                </if>
                <if test="productId!=null">
                    #{productId},
                </if>
                <if test="packageNo!=null">
                    #{packageNo},
                </if>
                <if test="rallyingPoint!=null">
                    #{rallyingPoint},
                </if>
        </trim>
        )
    </insert>




    <update id="updateProductPackage">
        UPDATE `tb_product_package`
        SET
        <trim suffixOverrides=",">
            <if test="packageName != null and packageName!=''">
                `package_name` = #{packageName},
            </if>
            <if test="packagePrice != null">
                `package_price` = #{packagePrice},
            </if>
            <if test="notchildren != null">
                `notchildren` = #{notchildren},
            </if>
            <if test="isshow != null">
                `isshow` = #{isshow},
            </if>
            <if test="content != null and content!=''">
                `content` = #{content},
            </if>
            <if test="productId != null">
                `product_id` = #{productId},
            </if>
            <if test="packageNo != null and packageNo!=''">
                `package_no` = #{packageNo},
            </if>
            <if test="rallyingPoint != null and rallyingPoint!=''">
                `rallying_point` = #{rallyingPoint},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
        </trim>
    </update>



    <resultMap type="com.tdeado.tourism.entity.ProductPackage" id="ProductPackageMap">
        <result property="packageName" column="package_name"/>
        <result property="packagePrice" column="package_price"/>
        <result property="notchildren" column="notchildren"/>
        <result property="isshow" column="isshow"/>
        <result property="content" column="content"/>
        <result property="productId" column="product_id"/>
        <result property="packageNo" column="package_no"/>
        <result property="rallyingPoint" column="rallying_point"/>
    </resultMap>


    <select id="queryProductPackage" resultMap="ProductPackageMap">
        select
        <include refid="baseResult"></include>
        from  `tb_product_package`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="packageName != null and packageName!=''">
                `package_name` = #{packageName} and
            </if>
            <if test="packagePrice != null">
                `package_price` = #{packagePrice} and
            </if>
            <if test="notchildren != null">
                `notchildren` = #{notchildren} and
            </if>
            <if test="isshow != null">
                `isshow` = #{isshow} and
            </if>
            <if test="content != null and content!=''">
                `content` = #{content} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="packageNo != null and packageNo!=''">
                `package_no` = #{packageNo} and
            </if>
            <if test="rallyingPoint != null and rallyingPoint!=''">
                `rallying_point` = #{rallyingPoint} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.tourism.entity.ProductPackage$QueryBuilder) == true">
                <if test="packageNameList != null">
                    `package_name` in
                    <foreach collection="packageNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPackageName!=null and fuzzyPackageName.size()>0">
                    (
                    <foreach collection="fuzzyPackageName"  separator="or" item="item">
                        `Package_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPackageName!=null and rightFuzzyPackageName.size()>0">
                    (
                    <foreach collection="rightFuzzyPackageName"  separator="or" item="item">
                        `Package_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="packagePriceList != null">
                    `package_price` in
                    <foreach collection="packagePriceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="packagePriceSt !=null">
                    `package_price` >= #{packagePriceSt} and
                </if>
                <if test="packagePriceEd!=null">
                    `package_price` &lt;= #{packagePriceEd} and
                </if>
                <if test="notchildrenList != null">
                    `notchildren` in
                    <foreach collection="notchildrenList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="notchildrenSt !=null">
                    `notchildren` >= #{notchildrenSt} and
                </if>
                <if test="notchildrenEd!=null">
                    `notchildren` &lt;= #{notchildrenEd} and
                </if>
                <if test="isshowList != null">
                    `isshow` in
                    <foreach collection="isshowList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="isshowSt !=null">
                    `isshow` >= #{isshowSt} and
                </if>
                <if test="isshowEd!=null">
                    `isshow` &lt;= #{isshowEd} and
                </if>
                <if test="contentList != null">
                    `content` in
                    <foreach collection="contentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyContent!=null and fuzzyContent.size()>0">
                    (
                    <foreach collection="fuzzyContent"  separator="or" item="item">
                        `Content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyContent!=null and rightFuzzyContent.size()>0">
                    (
                    <foreach collection="rightFuzzyContent"  separator="or" item="item">
                        `Content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="productIdList != null">
                    `product_id` in
                    <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                <if test="packageNoList != null">
                    `package_no` in
                    <foreach collection="packageNoList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPackageNo!=null and fuzzyPackageNo.size()>0">
                    (
                    <foreach collection="fuzzyPackageNo"  separator="or" item="item">
                        `Package_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPackageNo!=null and rightFuzzyPackageNo.size()>0">
                    (
                    <foreach collection="rightFuzzyPackageNo"  separator="or" item="item">
                        `Package_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rallyingPointList != null">
                    `rallying_point` in
                    <foreach collection="rallyingPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRallyingPoint!=null and fuzzyRallyingPoint.size()>0">
                    (
                    <foreach collection="fuzzyRallyingPoint"  separator="or" item="item">
                        `Rallying_point` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRallyingPoint!=null and rightFuzzyRallyingPoint.size()>0">
                    (
                    <foreach collection="rightFuzzyRallyingPoint"  separator="or" item="item">
                        `Rallying_point` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryProductPackageLimit1" resultMap="ProductPackageMap">
        select
        <include refid="baseResult"></include>
        from  `tb_product_package`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="packageName != null and packageName!=''">
                `package_name` = #{packageName} and
            </if>
            <if test="packagePrice != null">
                `package_price` = #{packagePrice} and
            </if>
            <if test="notchildren != null">
                `notchildren` = #{notchildren} and
            </if>
            <if test="isshow != null">
                `isshow` = #{isshow} and
            </if>
            <if test="content != null and content!=''">
                `content` = #{content} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="packageNo != null and packageNo!=''">
                `package_no` = #{packageNo} and
            </if>
            <if test="rallyingPoint != null and rallyingPoint!=''">
                `rallying_point` = #{rallyingPoint} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.tourism.entity.ProductPackage$QueryBuilder) == true">
                    <if test="packageNameList != null">
                        `package_name` in
                        <foreach collection="packageNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPackageName!=null and fuzzyPackageName.size()>0">
                    (
                    <foreach collection="fuzzyPackageName"  separator="or" item="item">
                        `Package_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPackageName!=null and rightFuzzyPackageName.size()>0">
                    (
                    <foreach collection="rightFuzzyPackageName"  separator="or" item="item">
                        `Package_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="packagePriceList != null">
                        `package_price` in
                        <foreach collection="packagePriceList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="packagePriceSt !=null">
                    `package_price` >= #{packagePriceSt} and
                </if>
                <if test="packagePriceEd!=null">
                    `package_price` &lt;= #{packagePriceEd} and
                </if>
                    <if test="notchildrenList != null">
                        `notchildren` in
                        <foreach collection="notchildrenList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="notchildrenSt !=null">
                    `notchildren` >= #{notchildrenSt} and
                </if>
                <if test="notchildrenEd!=null">
                    `notchildren` &lt;= #{notchildrenEd} and
                </if>
                    <if test="isshowList != null">
                        `isshow` in
                        <foreach collection="isshowList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="isshowSt !=null">
                    `isshow` >= #{isshowSt} and
                </if>
                <if test="isshowEd!=null">
                    `isshow` &lt;= #{isshowEd} and
                </if>
                    <if test="contentList != null">
                        `content` in
                        <foreach collection="contentList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyContent!=null and fuzzyContent.size()>0">
                    (
                    <foreach collection="fuzzyContent"  separator="or" item="item">
                        `Content` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyContent!=null and rightFuzzyContent.size()>0">
                    (
                    <foreach collection="rightFuzzyContent"  separator="or" item="item">
                        `Content` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="productIdList != null">
                        `product_id` in
                        <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                    <if test="packageNoList != null">
                        `package_no` in
                        <foreach collection="packageNoList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPackageNo!=null and fuzzyPackageNo.size()>0">
                    (
                    <foreach collection="fuzzyPackageNo"  separator="or" item="item">
                        `Package_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPackageNo!=null and rightFuzzyPackageNo.size()>0">
                    (
                    <foreach collection="rightFuzzyPackageNo"  separator="or" item="item">
                        `Package_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="rallyingPointList != null">
                        `rallying_point` in
                        <foreach collection="rallyingPointList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRallyingPoint!=null and fuzzyRallyingPoint.size()>0">
                    (
                    <foreach collection="fuzzyRallyingPoint"  separator="or" item="item">
                        `Rallying_point` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRallyingPoint!=null and rightFuzzyRallyingPoint.size()>0">
                    (
                    <foreach collection="rightFuzzyRallyingPoint"  separator="or" item="item">
                        `Rallying_point` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `package_name`,
        `package_price`,
        `notchildren`+0 as `notchildren`,
        `isshow`+0 as `isshow`,
        `content`,
        `product_id`,
        `package_no`,
        `rallying_point`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tdeado.tourism.entity.ProductPackage$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.packageName==true">
                        `package_name`,
                    </if>
                    <if test="fetchFields.fetchFields.packagePrice==true">
                        `package_price`,
                    </if>
                    <if test="fetchFields.fetchFields.notchildren==true">
                        `notchildren`+0 as `notchildren`,
                    </if>
                    <if test="fetchFields.fetchFields.isshow==true">
                        `isshow`+0 as `isshow`,
                    </if>
                    <if test="fetchFields.fetchFields.content==true">
                        `content`,
                    </if>
                    <if test="fetchFields.fetchFields.productId==true">
                        `product_id`,
                    </if>
                    <if test="fetchFields.fetchFields.packageNo==true">
                        `package_no`,
                    </if>
                    <if test="fetchFields.fetchFields.rallyingPoint==true">
                        `rallying_point`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.packageName==null">
                        `package_name`,
                    </if>
                    <if test="fetchFields.excludeFields.packagePrice==null">
                        `package_price`,
                    </if>
                    <if test="fetchFields.excludeFields.notchildren==null">
                        `notchildren`+0 as `notchildren`,
                    </if>
                    <if test="fetchFields.excludeFields.isshow==null">
                        `isshow`+0 as `isshow`,
                    </if>
                    <if test="fetchFields.excludeFields.content==null">
                        `content`,
                    </if>
                    <if test="fetchFields.excludeFields.productId==null">
                        `product_id`,
                    </if>
                    <if test="fetchFields.excludeFields.packageNo==null">
                        `package_no`,
                    </if>
                    <if test="fetchFields.excludeFields.rallyingPoint==null">
                        `rallying_point`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tdeado.tourism.entity.ProductPackage$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>